name: deploys

on:
  push:
    branches: [ main ]

jobs:
  mirror:
    runs-on: ubuntu-latest
    env:
      APP_NAME: swagger-demo
      IMAGE_NAME: ghcr.io/saltyaom/swagger-demo

    steps:
    - uses: actions/checkout@v2

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: saltyaom
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build Docker image
      run: docker build -t $APP_NAME .

    - name: Tag Docker image
      run: docker tag $APP_NAME $IMAGE_NAME

    - name: build
      uses: docker/build-push-action@v4
      with:
        file: Dockerfile
        push: true
        tags: ghcr.io/saltyaom/${{ env.NAME }}:${{ steps.string.outputs.lowercase }}
        cache-from: type=gha
        cache-to: type=gha,mode=max

    - uses: deploys-app/deploys-action@v1
      with:
        project: ${{ secrets.DEPLOYS_NAME }}
        location: gke.cluster-rcf2
        name: ${{ env.NAME }}
        image: ${{ env.IMAGE_NAME }}
        minReplicas: 2
        maxReplicas: 20
      env:
        DEPLOYS_AUTH_USER: ${{ secrets.DEPLOYS_AUTH_USER }}
        DEPLOYS_AUTH_PASS: ${{ secrets.DEPLOYS_AUTH_PASS }}